*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}


.container{
    height: 90px;
}

.logo > img{
    height: 80px;
    vertical-align: middle;
}

.title {
    display: inline-block;
    vertical-align: middle;
    font-size: 50px;
}

.container2 {
    margin: auto;
    margin-top: 30px;
    height: 100%;
    width: 60%;
    border: 3px solid black;
    padding: 10px;
}

.button1{
    background-color: #47ADF1;
    color: white;
    border-radius: 10px;
    border-style: none;
    padding: 10px;
}

.button2{
    background-color: white;
    color: #DBDEE1;
    border-radius: 10px;
    border: solid 1px #DBDEE1; 
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

ol {
    list-style: none;
}

.title-list{
    font-size: 30px;
    margin-top: 20px;
}

#arrows{
    font-size: 15px;
}

li{
    padding-top: 15px;  
    font-size: 20px;  

}

